body {
    background-image: url("https://image.freepik.com/free-photo/dynamic-flames-black-background_23-2148253434.jpg");
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-attachment: fixed;
    color: white;
}

.image-card {
    background-color: rgba(255, 38, 0, 0.938);
    width: 200px;
    height: 250px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgb(250, 192, 0);
}

#manager-table {
    background: rgb(34,193,195);
    background: linear-gradient(129deg, rgba(34,193,195,0.9) 0%, rgba(124,116,190,0.9) 53%, rgba(253,187,45,0.9) 100%);
}

#office-table {
    background: rgb(34,195,48);
    background: linear-gradient(129deg, rgba(34,195,48,0.9) 4%, rgba(190,116,183,0.9) 44%, rgba(250,241,102,0.9) 100%);
}

#reps-table {
    background: rgb(94,226,107);
    background: linear-gradient(166deg, rgba(94,226,107,0.9) 0%, rgba(50,175,162,0.9) 38%, rgba(194,95,192,0.9) 100%);
}

.first-place {
    /* line-height: 4rem; */
    font-size: 1.4rem;
    text-shadow: 3px 2px 3px rgba(121, 121, 121, 0.603);
    box-shadow: inset 0px 0px 40px 0px rgba(240, 255, 31, 0.87);
}

.second-place {
    /* line-height: 3rem; */
    font-size: 1.3rem;
    text-shadow: 3px 2px 3px rgba(121, 121, 121, 0.603);
    box-shadow: inset 0px 0px 40px 0px rgba(255, 252, 60, 0.692);
}

.third-place {
    /* line-height: 2rem; */
    font-size: 1.2rem;
    text-shadow: 3px 2px 3px rgba(121, 121, 121, 0.603);
    box-shadow: inset 0px 0px 20px 0px rgba(255, 236, 131, 0.692);
}